# Binance API 配置
API_KEY=example
SECRET_KEY=example

# 期权交易配置
SYMBOL=BTC-200730-9000-C
SIDE=BUY
TYPE=LIMIT
TIME_IN_FORCE=GTC
QUANTITY=1
PRICE=100

# 高级期权交易参数
REDUCE_ONLY=false
POST_ONLY=false
NEW_ORDER_RESP_TYPE=ACK
CLIENT_ORDER_ID=
IS_MMP=false
RECV_WINDOW=5000 